<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helinfengxs.projectservice.mapper.TProjectMapper">
    <select id="pageProject" resultType="com.helinfengxs.projectservice.vo.ProjectList">
        select
            t.id,t.title,t.test_type,t.gmt_create,t.gmt_modified,t.status,t.describtion,ifnull(i.interfaceCount,0) as interfaceCount,ifnull(c.caseCount,0)as caseCount
        from t_project as t
                 left join (select count(*)as interfaceCount,project_id from t_interface group by project_id )  as i on t.id = i.project_id
                 left join (select count(* ) as caseCount,project_id  from t_interface_case group by project_id) as c on t.id = c.project_id
        <where>
            <if test="p.title != null">
                title like concat('%',#{p.title},'%')

            </if>
            <if test="p.testType != null">
                and test_type = ${p.testType}
            </if>
            <if test="p.begin != null">
                and gmt_create &gt;#{p.begin}
            </if>
            <if test="p.end">
                and gmt_modified &lt;#{p.end}
            </if>
            and status = 0
        </where>
        order by gmt_create desc
            </select>
</mapper>
